*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#btn {
  display: block;   
  position: relative;
  text-decoration: none;
  margin: 50px;
  padding-top: 10px;
}
#btn:after {
  content: "";
  border: 2px solid #fff;
  width: 0;
  position: absolute;
  top: 30px;
  left: 0;
  transition: 2s;
}
#btn:hover:after{
  border : 2px solid red;
  width: 100%;
}