body > #bg {
    
    background-color: #08321D;
    background-blend-mode: soft-light;
    height: 90%;
    width: 100%;
    clip-path: polygon(50% 0%, 100% 0, 100% 84%, 76% 21%, 23% 22%, 0 81%, 0 0);
    position: absolute;
    z-index: -1;
}
body {
    background-color: #833471;
    background-blend-mode: luminosity;
    background-image: url(../img/building2.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}